<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Grubbin' Eats</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/client-order-id.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- nav bar  -->
    <%- include('partials/_nav') %>
    <div class = "single-order-container">
      <p>
        Order Number: <%= order_data[0]['order_id'] %> </br>
        Order Date: <%= moment(order_data[0]['created_at']).format('MMMM Do YYYY, h:mm:ss a')  %>
      </p>

      <table id= "active-orders-table">
        <thead>
          <tr>
            <th></th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>

        <% for (let order_item of order_data) { %>
        <tbody>
          <tr>
            <td> <img src= <%= order_item['url_photo'] %>> </td>
            <td> <%= order_item['item_name'] %> </td>
            <td> <%= order_item['quantity'] %> </td>
            <td> $<%= order_item['price_cents']/100 * order_item['quantity'] %> </td>
          </tr>
        </tbody>
        <% } %>
      </table>

    <form method = "GET" action = "/">
      <button type = "submit"> Go back to orders</button>
    </form>
  </div>
  </body>
</html>
