<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Grubbin' Eats</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/staff.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- nav bar  -->
    <%- include('partials/_nav') %>
    <h2>This is the staff individual order page</h1>
    <!-- button to order -->
    <div class = "single-order-container">
      <p>
        Order Number: 1003
        Order Date: 3/13/2020
      </p>
    </div>

    <table id= "active-orders-table">
      <thead>
        <tr>
          <th>image</th>
          <th>items</th>
          <th>Quantity</th>
          <th>price</th>
        </tr>
      </thead>
      <tbody>
        <% for (let obj in detail) { %>
          
            <tr>
              <td> <%= detail[obj]['url_photo'] %></td> 
              <td> <%= detail[obj]['item_name'] %> </td>
              <td> <%= detail[obj]['quantity'] %> </td>
              <td> <%= detail[obj]['price_cents'] %></td>
            </tr>
        <% } %>

        

      </tbody>
    </table>

    <form method = "GET" action = "/staff">
      <button type = "submit"> Go back to orders</button>
    </form>

  </body>
</html>
